{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/hpage4.css' %}">
</head>
<body>
    <h1>OUTDOOR</h1>

    <section class="menu" id="menu">
        
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/outdoor-sofa.jpg' %}"height="350px" width="550px">

                </div>
                <h2 class="h2">SOFA</h2>
                
            </div>
           
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/out2.jpg' %}"height="350px" width="550px">
        
                </div>
                <h2 class="h2">GARDEN</h2>
                        
            </div>
                    
            
            
        </div>
    </section>
    
    <div class="part">
    <h2 class="head">REMODEL YOUR HOME</h2>

    <p>The dining room is not just a place for eating but your personalized corner to relax, eat and unwind maximum time with your loved ones.
         Decorate and remodel your dining space with clever design moves such as exquisite marble top dining tables, classic dining chairs, 
         wood dining table, and round glass top dining tables. The dining room is the heart of your home, where you serve up food and share 
         laughter with family and friends. Think like geniuses before you shop anything for your dining area.
         Remodel your dining space with dining room tables and chairs from the IDUS Furniture Store and create luxury in the dining area.</p>
    </div>
    <center>
    <div class="content">
        <a href="home"> <button class="cn">BACK TO HOME</button></a>
    </div>
    </center>
</body>
</html>