{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/hpage5.css' %}">
</head>
<body>
    
</body>
</html>
<h1>OFFICE</h1>

<section class="menu" id="menu">
    
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="{% static 'images/offtable.jpg' %}"height="350px" width="450px">

            </div>
            <h2 class="h2">OFFICE TABLES</h2>
            
        </div>
       
        <div class="box">
            <div class="image">
                <img src="{% static 'images/offchair.jpg' %}"height="350px" width="450px">
    
            </div>
            <h2 class="h2">OFFICE CHAIRS</h2>
                    
        </div>
                
        <div class="box">
            <div class="image">
                <img src="{% static 'images/offsofa.jpg' %}"height="350px" width="450px">
            
            </div>
            <h2 class="h2">OFFICE SOFA</h2>
                            
        </div>

        
        

        <div class="box">
            <div class="image">
                <img src="{% static 'images/confr.jpg' %}"height="350px" width="450px">
            
            </div>
            <h2 class="h2">CONFRENCE TABLE</h2>
                            
        </div>

        <div class="box">
            <div class="image">
                <img src="{% static 'images/cafe.jpg' %}"height="350px" width="450px">
            
            </div>
            <h2 class="h2">CAFE AREA</h2>
                            
        </div>
        
        <div class="box">
            <div class="image">
                <img src="{% static 'images/conchair.jpg' %}"height="350px" width="450px">
            
            </div>
            <h2 class="h2">CUPBOARDS</h2>
                            
        </div>
        
    </div>
</section>

<div class="part">
<h2 class="head">REMODEL YOUR OFFICE WITH OFFICE CHAIRS AND TABLES</h2>

<p>The dining room is not just a place for eating but your personalized corner to relax, eat and unwind maximum time with your loved ones.
     Decorate and remodel your dining space with clever design moves such as exquisite marble top dining tables, classic dining chairs, 
     wood dining table, and round glass top dining tables. The dining room is the heart of your home, where you serve up food and share 
     laughter with family and friends. Think like geniuses before you shop anything for your dining area.
     Remodel your dining space with dining room tables and chairs from the IDUS Furniture Store and create luxury in the dining area.</p>
</div>
<center>
    <div class="content">
        <a href="home"> <button class="cn">BACK TO HOME</button></a>
    </div>
</center>
</body>
</html>