{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/hpage1.css' %}">
</head>
<body>
    <h1>LIVING</h1>

    <section class="menu" id="menu">
        
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/hsofa.jpg' %}"height="350px" width="450px">

                </div>
                <h2 class="h2">SOFA</h2>
                
            </div>
           
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/arm.jpg' %}"height="350px" width="450px">
        
                </div>
                <h2 class="h2">ARMCHAIRS</h2>
                        
            </div>
                    
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/recli.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">RECLINERS</h2>
                                
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/table.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">COFEE TABLE</h2>
                                
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/tv.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">TV CABINETS</h2>
                                
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/book.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">BOOKCASES</h2>
                                
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/console.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">CONSOLE</h2>
                                
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/side2.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">SIDE TABLES</h2>
                                
            </div>
            <div class="box">
                <div class="image">
                    <img src="{% static 'images/compl.jpg' %}"height="350px" width="450px">
                
                </div>
                <h2 class="h2">COMPLEMENTS</h2>
                                
            </div>
           
        </div>
    </section>
    <div class="part">
    <h1 class="h1">MODERN LIVING ROOM FURNITURE FOR LIVING AREA</h1>
    <p class="para">Adapting to all innovation and modern lifestyle, Kirti Nagar Furniture Store IDUS fills your
         living space with sophisticated Italian living room furniture. Our range of luxury home furniture including Designer Sofa Sets, 
         Sofa cum Beds, Recliners, Italian Armchairs and lounge chairs are brimming with an elegance that lasts.
          Explore a range of unusual designs, pattern, and upholstery that add pizzazz to your dining space. The living room is the heart of 
          any house. It also works as a reception room for guests where you sit, and share talks together. It is the epitome of any home.
           It’s recommended to opt for luxury Italian furniture for the living area. It can be a place for social gatherings
         or a space to watch TV together in the evening or also can be used as a dining space when a room separator is implemented.
    </p><br>
    <p class="para">
        If you need the inspiration to design your living area, then you must visit the IDUS Furniture Store in Kirti Nagar, New Delhi.
         We have modern furniture designs for the living room. We have abundant ideas and suggestions that will surely help you in designing 
         and renovating your living room. You can style it the way you want to, be it modern or minimalistic.
         Choose the right color, material, and furniture needed to make the living room a better place.
    </p>
    </div>
    <center>
    <div class="content">
        <a href="home"> <button class="cn">BACK TO HOME</button></a>
    </div>
</center>
</body>
</html>