{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/page7.css' %}">
</head>
<body>
    <center><h2>Please enter your Details</h2>
    <div class="form">
    <form>
        
           
           <input type="text" placeholder="Name*">
      
                
          <input type="email" id="email" placeholder="Email*"><br><br>
      
            
         <input type="text" placeholder="City*">
           
         <input type="text" placeholder="Contact No*"><br><br><center>
        
         
         <textarea rows="5" cols="30" placeholder="Message*"></textarea>
         </form></center><br><center>
         <form action="home">
            <input class="button" type="submit" value="SUBMIT"></center></center>
      </form>
    </div>
</center>
</body>
</html>